{% extends 'WelcomeLiteApp/base.html' %}


{% block content %}
<h2>Job Offers List</h2>

{% if job_offer_list %}
<div>
    <table class="table">
        <thead class="thead-dark border-bottom font-weight-bold">
            <tr>
                <th>Candidate's First Name</th>
                <th>Candidate's Last Name</th>
                <th>Candidate's Email</th>
                <th>Job Title</th>
                <th>Offer Amount</th>
                <th colspan="2"><a href="{% url 'welcome:add' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> Create</a></th>
            </tr>
        </thead>
        
    {% for job_offer in job_offer_list %}
        <tr>
            <td>{{ job_offer.candidate_first_name }}</td>
            <td>{{ job_offer.candidate_last_name }}</td>
            <td>{{ job_offer.candidate_email }}</td>
            <td>{{ job_offer.job_title }}</td>
            <td>{{ job_offer.offer_amount }}</td>
            <td><a href="{% url 'welcome:edit' job_offer.id %}" class="btn text-secondary px-0"><i class="far fa-edit fa-lg"></i></a></td>
            <td><span><a href="{% url 'welcome:delete' job_offer.id %}">Delete</a></span></td>
        </tr>
        
    {% endfor %}
    </table>
</div>
{% else %}
<p>No job offers available</p>
{% endif %}
{% endblock content %}
